<nav class="uk-navbar-container uk-animation-slide-bottom-small" uk-navbar>
  <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active uk-button uk-button-text">
          <a href="#">Donate</a>
        </li>
      </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li class="uk-active uk-button uk-button-text">
        <a href="https://www.facebook.com/gunitey.imsniper" target="_blank">
          <span uk-icon="icon: facebook"></span>
          <span class="uk-margin-small-left">Harukaze Neet</span>
        </a>
      </li>
      <li class="uk-active uk-button uk-button-text">
        <a href="https://www.youtube.com/channel/UCLW5mRWneyr4_epSXyLhmGQ" target="_blank">
          <span uk-icon="icon: youtube"></span>
          <span class="uk-margin-small-left">Neet Party TV</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
