<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar">
  <nav class="uk-navbar-container uk-animation-slide-top-small" uk-navbar style="position: relative; z-index: 980;">
    <div class="uk-navbar-left">
        <a class="uk-navbar-toggle" href="/">
            <span uk-icon="icon: home" class="uk-active"></span> <span class="uk-margin-small-left uuk-active">Home</span>
        </a>
    </div>
    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav">
        <li class="uk-active uk-button uk-button-text"><a href="/register">Register</a></li>
        <li class="uk-active uk-button uk-button-text"><a href="/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
