<div id="menu-toggle" class="uk-navbar-left" hidden>
    <ul class="uk-navbar-nav">
      <li class="uk-active">
          <a class="uk-navbar-toggle" uk-toggle="target: #menu-toggle; animation:  uk-animation-fade">
              <span class="uk-close-large" uk-close></span>
          </a>
      </li>
      <li class="uk-active uk-button uk-button-text">
          <a href="/">Home</a>
      </li>
      <li class="uk-active uk-button uk-button-text">
          <a href="/shop">Shop</a>
      </li>
      <li class="uk-active uk-button uk-button-text">
          <a href="/point">Buy Point</a>
      </li>
    </ul>
</div>
